
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <p> <img src=""> Scrybe </p>
      <ul class="nav navbar-nav">
        <li><a href="#">PRODUCTS AND SERVICES</a></li>
        <li><a href="#">PROCESS</a></li>
        <li><a href="#">TALENT</a></li>
        <li><a href="#">RESOURCES</a></li>
        <li><a href="#">ABOUT US</a></li>
      </ul>
    </div>
    <p>	© 2018 Scrybe.com - All right reserved <a href="#"> Terms of use </a> <a href="#"> Privacy Policy </a> </p>
  </nav>
